@import url('./vendor/fonts/raleway.woff2');

body {
  background-color: #fff;
  padding: 20px 0 40px 0;
  font-size: 14px;
  border-top: 4px solid #f1c40f;
}

p {
  font-size: 14px;
}

a {
  color: inherit;
  border-bottom: 1px dashed #7f8c8d;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  border-bottom: 1px solid #7f8c8d;
}

.note {
  font-style: iltalic;
}

.strong {
  font-weight: 700;
}

#options-wrapper {
  width: 50vw;
  max-width: 580px;
  margin: 0 auto;
}

#section-header {
  text-align: center;
  padding: 20px 0 30px 0;
}

#section-header img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}

#section-header h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

input[type=radio],
input[type=checkbox],
input[type=text],
input[type=email] {
  margin: 0;
}

@-moz-document url-prefix() {
  .radio label span {
    margin-left: 12px;
  }
}

.ext-setting.no-credit,
.ext-setting.got-credit {
  display: none;
  position: relative;
}

.ext-setting.no-credit input {
  height: 30px;
  padding: 0 5px;
  width: 75%;
  margin-top: 1px;
}

.ext-setting.no-credit button {
  margin: 10px 0 10px 5px;
  height: 30px;
  width: 80px;
}

.ext-setting.no-credit i {
  margin-right: 5px;
}

.ext-setting.no-credit .error i {
  color: #e74c3c;
}

.ext-setting.no-credit .request-status {
  font-style: italic;
  display: none;
}

.refresh-credit-status {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: none;
}

.ext-setting.got-credit p span.credit-info {
  font-weight: 700;
}

.ext-setting.got-credit p:last-child {
  margin-bottom: 0;
}

.ext-setting {
  margin-bottom: 20px;
  padding: 20px 25px 25px 25px;
  background-color: #ecf0f1;
  position: relative;
}

.ext-setting p.note {
  color: #95a5a6;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0;
}

.ext-setting.speed-dial input {
  display: inline-block;
  padding: 0 5px;
}

.ext-setting.speed-dial .speed-dial-url {
  width: 60%;
}

.ext-setting.speed-dial .speed-dial-title {
  width: 35%;
}

.ext-setting i.gold-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f1c40f;
  display: block;
}

label {
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

.radio {
  margin: 0;
}

.checkbox {
  padding-left: 0;
}

#save {
  text-align: center;
  margin: 10px auto;
  height: 29.5px;
}

.settings-saved-message {
  display: inline-block;
  position: absolute;
  height: 50px;
  line-height: 50px;
  opacity: 0;
  width: 60px;
  text-align: center;
  margin: 0;
  left: calc(50% - 100px);
}

.settings-saved-message:nth-of-type(2) {
  left: calc(50% + 35px);
}

.ua-special {
  padding: 15px;
  text-align: center;
  margin: 25px 0;
  background-color: rgba(52, 152, 219, 0.25);
}

.ua-note {
  display: block;
  font-size: 12px;
  font-style: italic;
  color: #777;
  margin-top: 25px;
}

.key-error-length {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  color: #e74c3c;
  display: none;
}

.offer-bullet {
  margin-left: 35px;
  position: relative;
}

.green-check {
  color: #2ecc71;
  top: 0;
  left: -20px;
  position: absolute;
}
